.formDiv {
  text-align: center;
}

form {
  width: 25vw;
  margin-top: 1.5rem;
  display: inline-grid;
  border-radius: 1rem;
  border: 1px blue solid;
  background-color: ghostwhite;
  box-shadow: 3px 5px royalblue;
}

input,
button {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

table {
  border-collapse: collapse;
  text-align: center;
  display: inline-block;
}
td {
  padding: 0 0.5rem;
}
.btn1 {
  background-color: skyblue;
  margin: 0.5rem;
}
.btn2 {
  background-color: red;
  margin: 0.5rem;
}
